TOKEN=MTAwNTg0NzMzMjExMTI2MTY5Ng.Gr3G8w.vyjspee9RCIoA_H2p85G2qs4n9kOAyUGCvDZMM
PREFIX=!
PORT= # must replace with your server port
LAVALINK_WS=ws://lavalinkv4.serenetia.com:80/v4/websocket
LAVALINK_REST=http://lavalinkv4.serenetia.com:80/v4
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver
CLIENT_NAME=Aditya
AI_API=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
APP_USER=
APP_PASS=
